<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ceduliocezar.com.nennospizza">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.pizza.list.PizzaListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.pizza.create.CreateCustomPizzaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.cart.CartActivity"
            android:label="@string/cart"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.pizza.list.PizzaListActivity" />
        </activity>
        <activity android:name=".presentation.pizza.detail.PizzaDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.pizza.list.PizzaListActivity" />
        </activity>
        <activity
            android:name=".presentation.checkout.AfterCheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.drink.DrinkActivity"
            android:label="@string/drinks"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.cart.CartActivity" />

        </activity>
    </application>

</manifest>